@font-face {
  font-family: 'DigitalNumbers';
  src: url('fonts/DS-DIGI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1.5fr 1fr;
  gap: 15px;
  width: 100vw;
  height: 100vh;
  background-color: #1E1E2E;
  padding: 10px;
}

.item {
  background-color: #7286A0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
}


.fantasy-reader {
  grid-column: 1;
  grid-row: 1;
  background: url(images/fantasy.png) #E6A9A9 50% / cover no-repeat;
  animation: moveToRight 2s ease-in-out;
}

.music-player {
  grid-column: 2;
  grid-row: 1;
  background: url(images/music-player.png) #E6A9A9 50% / cover no-repeat;
  animation: moveToBottom 2s ease-in-out;

}

.spiral {
  grid-column: span 2;
  grid-row: 1;
  background-color: #B9A9E6;
  background: url(images/spiral.png) lightgray 50% / cover no-repeat;
  animation: moveToLeft 1.5s ease-in-out;
  
}

.clock {
  grid-column: 1;
  grid-row: 2;
  background: url(images/clock.png) lightgray 50% / cover no-repeat;
  background-size: cover;
  animation: moveToRight 2.2s ease-in-out; 
}

.adventure-text {
  grid-column: 2 / 4;
  grid-row: 2;
  background-color: #424690;
  font-family: 'DigitalNumbers', sans-serif;
  color: white;
  font-size: 4vw;
  text-align: start;
  animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.adventure-text:hover {
  font-size: 5vw;
}

.dinosaurs {
  grid-column: 4;
  grid-row: 2;
  background: url(images/dino.png) #E6A9A9 50% / cover no-repeat;
  animation: moveToLeft 2s ease-in-out;
}

.scale:hover {
  scale: 1.02;
  transition: 0.5s;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 3;
  background-color: #5B6EAE;
  font-family: 'DigitalNumbers', sans-serif;
  font-size: 2vw;
  color: white;
  animation: moveToTop 2s ease-in-out;
}

.time {
  display: flex;
  justify-content: center;
}

button{
  all: unset;
  background: transparent;
  border: none;
  outline: none;
  padding: 5% 10%;
  width: 100%;
  font-size: 1.3vw;
  cursor: pointer;
  background-color: #a3a3a358; 
  border-radius: 10px;
   
}

.timer-form {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; 
  align-items: center; 
  gap: 10px; 
  width: 100%;
  max-width: 800px; 
  margin: 0 auto; 
}

.timer-form input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 25%; 
  font-size: 1vw;
}

.timer-form button {
  padding: 10px;
  background-color: #a3a3a358;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  width: 20%; 
  margin-top: 10px; 
}

.timer-form button:hover {
  background-color: #71717165;
}

.timer-form button:hover {
  background-color: #71717165; 
}

.trees {
  grid-column: 3 / 5;
  grid-row: 3;
  background-color: #A9B9E6;
  background: url(images/trees.png) lightgray 50% / cover no-repeat;
  animation: moveToLeft 2s ease-in-out;
}

@keyframes moveToLeft {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  } 
}

@keyframes moveToBottom {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes moveToTop {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}


@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
